@import url('https://fonts.googleapis.com/css?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap');

#content {
	font-family:  ''Noto Sans KR";
}
#imgContainer {
	text-align:center;
}
.row {
	padding: 5px;
}
#content .row:hover {
	background-color: #dcebf7;
	cursor: pointer;
}
.inputrow:hover {
	background-color: white;
}
.inputrow {
	margin: 0 auto;
    float: none;
    text-align: center;
}
.input-group {
	vertical-align: middle; 
}

.top-page {
	display: table;
	width: 650px;
}

.btn-with-fixedInput,
.fixedInput {
	vertical-align:middle;
	display: table-cell;
}

.btn-with-fixedInput {
	width: 20%;
}

.fixedInput {
	margin-left: 10px;
	margin: auto;
	width: 70%;
}

.caption {
	float:left; 
	text-align: center; 
	width: 110px;
	font-size: 13px;
	color: gray;
}

/*서평 추가 모달*/
.form-elegant .font-small {
    font-size: 0.8rem; }
.form-elegant .z-depth-1a {
    -webkit-box-shadow: 0 2px 5px 0 rgba(55, 161, 255, 0.26), 0 4px 12px 0 rgba(121, 155, 254, 0.25);
    box-shadow: 0 2px 5px 0 rgba(55, 161, 255, 0.26), 0 4px 12px 0 rgba(121, 155, 254, 0.25); }
.form-elegant .z-depth-1-half,
.form-elegant .btn:hover {
    -webkit-box-shadow: 0 5px 11px 0 rgba(85, 182, 255, 0.28), 0 4px 15px 0 rgba(36, 133, 255, 0.15);
    box-shadow: 0 5px 11px 0 rgba(85, 182, 255, 0.28), 0 4px 15px 0 rgba(36, 133, 255, 0.15); }
.modal-dialog .form-elegant .btn .fab {
    color: #2196f3 !important; }

.form-elegant .modal-body, .form-elegant .modal-footer {
    font-weight: 400; }
    
/*별점*/    
.star_rating {font-size:0; letter-spacing:-4px;}
.star_rating a {
    font-size:22px;
    letter-spacing:0;
    display:inline-block;
    margin-left:5px;
    color:#ccc;
    text-decoration:none;
}
.star_rating a:first-child {
	margin-left:0;
}
.star_rating a.on {
	color : #17a2b8;
}

.modal-open {
   	overflow: scroll; /* 모달 영역을 닫아도 스크롤바가 존재 */
}

.btn-outline-primary {
	color: #58C9B9;
	border: none;
}

#addButton{
	position: fixed; 
	bottom:30px;
	right:30px; 
	z-index:999;
	background-color: #17a2b8 !important;
	border-color: #17a2b8;
}

#readMe {
	position: fixed; 
	bottom: 100px;
	right:30px; 
	background-color: rgb(209, 182, 225, 0.5);
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 15px;
	text-shadow: none;
	color: black;
	border-radius: 30px;
}

@media (max-width: 1100px) {
	.top-page {
	display: table;
	width: 400px;
	}	
	
	.fixedInput {
	width: 250px;
}
}
