@import url('https://fonts.googleapis.com/css?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap');

.card {
	max-width: 50%;
	margin: auto;
	margin-top: 5%;
	font-family: 'Helvetica Neue', 'Apple SD Gothic Neo', 'Noto Sans KR', sans-serif;
	box-shadow: 6px 7px 5px 0px rgba(158,155,158,1);
}

.divider-text {
	position: relative;
	text-align: center;
	margin-top: 15px;
	margin-bottom: 15px;
}

.divider-text span {
	padding: 7px;
	font-size: 12px;
	position: relative;
	z-index: 2;
}

.divider-text:after {
	content: "";
	position: absolute;
	width: 100%;
	border-bottom: 1px solid #ddd;
	top: 55%;
	left: 0;
	z-index: 1;
}

.row {
	margin: 0 auto;
}

.logo a {
	font-size: 40px;
	color: #58C9B9;
	text-shadow: 2px 2px 2px #519D9E;
	font-family: 'Fredoka One', cursive;
	margin : 0;
}

.logo a:hover {
	color: #D1B6E1;
	text-decoration: none;
}

#signColor {
	border:none; 
	background-color:transparent;
	color : #58C9B9 !important
}

.btn-primary {
	background-color: #58C9B9 !important;
	border-color: #58C9B9 !important;
}

.btn-primary:hover {
	background-color: #58C9B9 !important;
	color: #fff !important;
}

.btn-outline-info {
    color: #3EAF0E !important;
    border-color: #3EAF0E !important;
}

.btn-outline-info:hover {
    color: white !important;
    background-color: #3EAF0E !important;
}