@import url('https://fonts.googleapis.com/css?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap');

body {
	font-family: 'Noto Sans', sans-serif; 
} 
#imgContainer {
	text-align:center;
}
.row {
	padding: 5px;
}
.row:hover {
	cursor: pointer;
}
.inputrow:hover {
	background-color: white;
}
.inputrow {
	margin: 0 auto;
    float: none;
    text-align: center;
}
.input-group{
	vertical-align: middle; 
}

.modal-open {
   	overflow: scroll; /* 모달 영역을 닫아도 스크롤바가 존재 */
}

.upDelButton{
	background-color: #17a2b8;
	border:none; 
}

/* 이미지 위에 마우스를 올려놓으면 opacity가 1이 되는 영역 */
.img-wrap {
	position: relative;
    display: inline-block;
    font-size: 0; 
    text-align: center;
}

.btn-circle {
	width: 25px;
	height: 25px;
	text-align: center;
	font-size: 18px;
	border-radius: 15px;
	position: absolute;
	top: -2px;
	right: 12px;
	z-index: 100;
	color : #fff;
} 

input[type=image]{
	width : 120px;
	height : 170px; 
	border : 1px solid lightgray;
	margin : 0 15px;
	transition: all .2s ease-in-out;
}

input[type=image]:hover {
	transform: scale(1.1);
}

input[type=image]:hover + #iconbox .deletelink path{
	fill: lightgray;
	animation: fadeInFromNone 0.8s ease-out;
}

@keyframes fadeInFromNone {
    0% {
        display: none;
        opacity: 0;
    }

    1% {
        display: block;
        opacity: 0;
    }

    70% {
        display: block;
        opacity: 1;
    }
    90% {
        display: block;
        opacity: .5;
    }
    100% {
        display: block;
        opacity: .3;
    }
}

.arrowlink {
	width: 30px;
}

.deletelink {
	width: 20px;
	transition: width .2s ease-in-out;
}

.deletelink path{
	fill: gray;
	opacity: 0.3;
}

.deletelink:hover path{
	fill: #58C9B9;
	opacity: .5;
}

.deletelink:hover {
	width: 25px;
}

.arrowlink {
	width: 35px;
	transition: width .2s ease-in-out;
}

.arrowlink path{
	fill: gray;
	opacity: 0.8;
}

.arrowlink:hover path{
	fill: #58C9B9;
	opacity: .5;
}

.arrowlink:hover {
	width: 40px;
}

.booklink a {
	text-decoration: none;
}