@import url('https://fonts.googleapis.com/css?family=Fredoka+One&display=swap');

#sidebar {
    min-width: 250px;
    max-width: 250px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    /* top layer */
    z-index: 9999;
}


/* 스타일 2 */
/*
    DEMO STYLE
*/

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

#leftSideBar,
#leftSideBar:hover,
#leftSideBar:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    background: #58C9B9;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
   	padding-left: 0;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
}

#sidebar {
    width: 250px;
    float: left;
    /* position: fixed; */
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    background: #58C9B9; /* #7386D5 */ /* left Sidebar 배경색 */
    color: #fff; /* #fff */
    transition: all 0.3s;
    margin-right: 0; 
    padding-top: 30px;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #fff; /* #47748b */ /* 구분선 */
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li #leftSideBar {
    padding: 15px;
    font-size: 1.1em;
    display: block;
}

#leftSideBar [data-toggle="collapse"] {
    position: relative;
}

/* 스타일 변경 및 추가한 부분 by 다영 */
#sidebar ul li #leftSideBar :hover {
    color: #7386D5;
    background: #58C9B9; /* left Sidebar 위로 마우스가 위치할 때 */
}

#sidebar ul li.active>#leftSideBar,
#leftSideBar [aria-expanded="true"] {
    color: #fff;
    background: #58C9B9; /* #6d7fcc */ /* 내 서재 메뉴 배경색 */
}

.brand-logo-main {
	position: fixed;
	color: #58C9B9;
	text-shadow: 2px 2px 2px #519D9E;
	font-size: 30px;
	font-family: 'Fredoka One', cursive;
	text-decoration: none;
	padding: 15px;
}

.brand-logo-main:hover {
	color: #D1B6E1;
	text-decoration: none;
}

#sidebar .brand-logo {
	color: white;
	text-shadow: 3px 2px 2px #D1B6E1;
	text-decoration: none;
	font-size: 30px;
	font-family: 'Fredoka One', cursive;
}

#sidebar .brand-logo:hover {
	color: #D7FFF1;
	text-shadow: 2px 2px 2px #D1B6E1;
	text-decoration: none;
}

#sidebar li {
	padding-bottom: 30px;
}

ul ul #leftSideBar {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #58C9B9; /* 읽은 책, 관심책 메뉴 배경색 */
}

ul ul #leftSideBar:hover {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #58C9B9; /* 읽은 책, 관심책 메뉴 배경색 */
}

.btn:hover {
	background: #58C9B9;
	border: white;
}


/* 스타일 변경 및 추가한 부분 by 다영 - 끝 */

/* .dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
} */



ul.CTAs {
    padding: 20px;
}

ul.CTAs #leftSideBar {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

/* a.download {
    background: #fff;
    color: #7386D5;
}

a.article,
a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
} */

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
	float: right;
	border: 1px solid lightgray;
  	width: 60%;;
    padding: 40px;
    min-height: 100vh;
    transition: all 0.3s;
/*     position: absolute; */
    top: 0;
    right: 0;
    background-color: #fff;
    margin: auto;
}

#blank {
	width: auto;
	margin-right: 0;
}

#content.active {
    width: 100%;
}

#updateArticle{
	max-width: 400px;
	text-align: center;
}
#addButton{
	position:fixed; 
	bottom:30px;
	right:30px; 
	z-index:999;
	background-color: #17a2b8 !important;
	border-color: #17a2b8;
}
#signColor{
	border:none; 
	background-color:transparent;
}

#leftSideBarColor{
	border:none; 
	background-color: #58C9B9;
	width : auto;
	color : #fff;
}

.brand-logo{
	width : 30px;
	height : 20px;
}
/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #content {
        width: 100%;
    }
    #content.active {
        width: calc(100% - 250px);
    }
    #sidebarCollapse span {
        display: none;
    }
}