@import url('https://fonts.googleapis.com/css?family=Fredoka+One&display=swap');
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap');

.wrapper {
    display: flex;
    width: 100%;
    font-family: 'Helvetica Neue', 'Apple SD Gothic Neo', 'Noto Sans KR', sans-serif;
}

p {
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

.leftSideBar,
.leftSideBar:hover,
.leftSideBar:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    background-color: rgb(209, 182, 225, .3);
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
   	padding-left: 0;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.sign {
	position: fixed;
	top: 4%;
	right: 3%;
}

.sign input {
	font-size: 20px;
	font-family: 'Noto Sans', sans-serif;
	font-weight: 700;
	color: #58C9B9;
}

.sign input:hover {
	opacity: .7;
	text-decoration: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed rgb(81, 157, 158, .4);
    margin-bottom: 30px;
    margin-top: 30px;
}

#ulRow .line {
	margin-top: 50px;
}

.center-block {
	display:table;
	margin:auto;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

#sidebar {
    min-width: 250px;
    max-width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    height: 100vh;
    background: #58C9B9; /* #7386D5 */ /* left Sidebar ���� */
    color: #fff;
    transition: all 0.3s;
    margin-right: 0; 
    padding-top: 30px;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar ul.components {
    padding: 20px 0;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li .leftSideBar {
    padding: 15px;
    font-size: 1.1em;
    display: block;
}

.leftSideBar [data-toggle="collapse"] {
    position: relative;
}

#sidebar ul li .leftSideBar :hover {
    color: #7386D5;
    background: #58C9B9;
}

#sidebar ul li.active>.leftSideBar,
.leftSideBar [aria-expanded="true"] {
    color: #fff;
    background: #58C9B9; /* #6d7fcc */ /* �� ���� �޴� ���� */
}

#sidebar li {
	padding-bottom: 30px;
}

ul ul .leftSideBar {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #58C9B9; 
}

ul ul .leftSideBar:hover {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #58C9B9; 
}

.btn-outline-secondary {
	color: #58C9B9;
	border-color: #58C9B9;
}

.btn:hover {
	background: #58C9B9;
	border: white;
}


/* �ΰ� */

.brand-logo-main {
	position: fixed;
	color: #58C9B9;
	text-shadow: 2px 2px 2px #519D9E;
	font-size: 30px;
	font-family: 'Fredoka One', cursive;
	text-decoration: none;
	padding: 15px;
}

.brand-logo-main:hover {
	color: #D1B6E1;
	text-decoration: none;
}

.brand-logo {
	width : 30px;
	height : 20px;
}

#sidebar .brand-logo {
	color: white;
	text-shadow: 3px 2px 2px #D1B6E1;
	text-decoration: none;
	font-size: 30px;
	font-family: 'Fredoka One', cursive;
}

#sidebar .brand-logo:hover {
	color: #D7FFF1;
	text-shadow: 2px 2px 2px #D1B6E1;
	text-decoration: none;
}

/* �ΰ� ��*/

/* ���� */
#tooltiptext {
	background-color: rgb(209, 182, 225, 0.5);
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 15px;
	text-shadow: none;
	color: black;
	opacity: 0;
	border-radius: 30px;
}

h3 {
	font-family: 'Apple SD Gothic Neo', 'Noto Sans KR', sans-serif;
}


#trending {
	font-family: 'Apple SD Gothic Neo', 'Noto Sans KR', sans-serif;
	width: 100%;
	height: 350px;
}

.slide img {
	width: 180px;
	height: 270px;
	margin: 0;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs .leftSideBar {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}


/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
	background-color: rgb(157, 200, 200, .3); 
  	width: calc(100% - 500px);
    padding: 40px;
    min-height: 100vh;
    transition: all 0.3s;
    top: 0;
    left: 250px;
    position: absolute;
    margin : 0 auto;  
}

body > div#content{
	text-align: center;
}

#content.active {
    width: calc(100% - 250px);
}

#updateArticle{
	max-width: 400px;
	text-align: center;
}

.signColor{
	border:none; 
	background-color:transparent;
}

.leftSideBarColor{
	border:none; 
	background-color: #58C9B9;
	width : auto;
	color : #fff;
}

#userNameCss{
	font-weight: bold; 
	border:none; 
	background-color: #58C9B9; 
	color: #fff;
}

.highlight {
    position: relative;
    display: inline-block;
    background-color: rgb(88, 201, 185, .3);
/*     transform: scale(1)  skew(-10deg); */
    z-index: -1;
}
.highlight > * {
    display: inherit;
    transform: scale(0.7) rotate(2deg) skew(20deg);
}

.highlight-underline {
    position: relative;
    text-decoration: none;
    color: rgb(21, 21, 21);
}
.highlight-underline::before {
    content: "";
    position: absolute;
    left: 1%;
    bottom: -1px;
    width: 100%;
    height: 8px;
    background-color: rgb(88, 201, 185, .5);
    z-index: -1;
}

.highlight-underline--center::before {
    bottom: 4px;
}
/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #content {
        width: 100%;
    }
    #content.active {
        width: calc(100% - 250px);
    }
    #sidebarCollapse span {
        display: none;
    }
}

@media (min-width: 1500px) {
	#content {
        width: 70%;
    }
}